@font-face {
  font-family: "Kanit";
  src: url("./Kanit-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Kanit";
  src: url("./Kanit-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}